<h1>add an actor</h1>
<br>
<form action="/movies/show-m/{{addCeleb._id}}/add-celeb" method="post">

    <label for="name">name:</label>
    <input type="text" name="name" >

    </br>

    <label for="occupation">occupation:</label>
    <input type="text" name="occupation" >

    </br>

    <label for="catchPhrase">catchPhrase:</label>
    <input type="text" name="catchPhrase" >

    </br>

    <button type="submit">ADD</button>

</form>