<h1>CELEBRITIES</h1>
<div>
    {{#each celebrities}}
    <div>

        <span > 
            <a href="/celebrities/show/{{id}}">{{name}}</a> 
        </span>

        <a class="button"  href="/celebrities/{{id}}/edit/">edit</a>

        <form  style="display:inline-flex" action="/celebrities/{{id}}/delete" method="post">
            <button class="delete-button" >delete</button>
        </form>

    </div>
    {{/each}}
    <br>
    <a class="button" style="display:inline-flex" href="new">add a new celebrity !</a>
</div>