<h1>Movies</h1>
<div>
    {{#each movies}}
    <div>

        <span > 
            <a href="/movies/show-m/{{id}}">{{title}}</a> 
        </span>

        <a class="button"  href="/movies/{{id}}/edit/">edit</a>

        <form  action="/movies/{{id}}/delete" method="post">
            <button class="delete-button" >delete</button>
        </form>

    </div>
    {{/each}}
    <br>
    <a class="button" href="new-m">add a new movie !</a>
</div>